<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pass IMT Atlantique</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight" style="background-color: #9675ce;">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('login') }}" class="mynavbar-item">
                                Se connecter
                            </a>
                            <a href="{{ url_for('signup') }}" class="mynavbar-item">
                                S'inscrire
                            </a>
                            <a href="{{ url_for('logout') }}" class="mynavbar-item">
                                Se déconnecter
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

<style>
    .mynavbar-item{
        padding: 10px;
        height: 1.4cm;
        border-width: 2px;
        border-radius: 10px;
    }
    .mynavbar-item:hover{
        border-style:solid;
        border-color:black;
    }
</style>
</body>

</html>