{% extends "base.html" %}
{%block body%}
<link rel="stylesheet" href="../static/style/extension.css">
<script type="text/javascript" src="../static/script/extension.js"></script>
<div class="tab">
<button class="tablinks" onclick="openTab(event,'Tab0')">Tab 0</button></div>
<div id="Tab0" class="tabcontent">
<form id="Tab0Form" target="Tab0Frame"  action="/calendar" method="POST">
<input type="text" name="extension" value="True" />
</form><iframe name="Tab0Frame" src="#" width="1200" height="650">
               Your browser does not support inline frames.
            </iframe>
            
            <script>
             $(document).ready(function(){
             var Tab0form= document.getElementById("Tab0Form");
             Tab0form.style.display = "none";
             Tab0form.submit();
            });
            </script>
            </div>{%endblock%}