{% extends "base.html" %}
{%block body%}
<link rel="stylesheet" href="../static/style/extension.css">
<script type="text/javascript" src="../static/script/extension.js"></script>
<div class="tab">
<button class="tablinks" onclick="openTab(event,'calendar')">calendar</button>
<button class="tablinks" onclick="openTab(event,'Fichedestagevide')">Fichedestagevide</button></div>
<div id="calendar" class="tabcontent">
<form id="calendarForm" target="calendarFrame"  action="/calendar" method="POST">
<input type="text" name="extension" value="True" />
</form><iframe name="calendarFrame" src="#" width="1200" height="650">
               Your browser does not support inline frames.
            </iframe>
            
            <script>
             $(document).ready(function(){
             var calendarform= document.getElementById("calendarForm");
             calendarform.style.display = "none";
             calendarform.submit();
            });
            </script>
            </div>
<div id="Fichedestagevide" class="tabcontent">
<form id="FichedestagevideForm" target="FichedestagevideFrame"  action="/internships" method="POST">
<input type="text" name="extension" value="True" />
</form><iframe name="FichedestagevideFrame" src="#" width="1200" height="650">
               Your browser does not support inline frames.
            </iframe>
            
            <script>
             $(document).ready(function(){
             var Fichedestagevideform= document.getElementById("FichedestagevideForm");
             Fichedestagevideform.style.display = "none";
             Fichedestagevideform.submit();
            });
            </script>
            </div>{%endblock%}