{%extends "base.html"%}

{%block body%}
<div style = "padding-left: 50px;">
    <label>Nouveau stage</label>
  <form action="" method="post" class="form-example" >
    <div class="row">
        <div class="form-group">
          <div name="internship_description" style="padding: 10px; border-color: black;">
            <div>Description du stage</div>
            <input class="form-control" placeholder="Intitulé du stage" name = "title" value="{{ intern.title }}">
            <input class="form-control" placeholder="Intitulé du stage dans la langue de la convention" name = "agreement_title" value="{{ intern.agreement_title }}">
            <input class="form-control" placeholder="Description de l'entreprise" name = "description" value="{{ intern.description }}">
            <input class="form-control" placeholder="Missions et objectifs" name = "mission" value="{{ intern.mission }}">
            <input class="form-control" placeholder="Effectif sur le lieu du stage" name = "staff" value="{{ intern.staff }}">
            <input class="form-control" placeholder="Argumentaire pour un stage de recherche" name = "research" value="{{ intern.research_argumentary }}">
            <!--TODO deal with dates-->
            <input class="form-control" placeholder="Date de début de stage" name = "date_beginning" value="{{ intern.date_beginning }}">
            <input class="form-control" placeholder="Date de fin de stage" name = "date_end" value="{{ intern.date_end }}">
            <input class="form-control" placeholder="Nombre d'heures travaillées par semaine" name = "hours" value="{{ intern.hours_per_week }}">
            <input class="form-control" placeholder="Jours travaillés et horaires" name = "schedule" value="{{ intern.schedule }}">
            <div style ="padding: 10px;">
              <label>Langue de la convention</label>
              <select name = "language">
                  <option>Anglais</option>
                  <option selected="yes">Français</option>
              </select>
            </div>
            <div style ="padding: 10px;">
              <label>Campus</label>
              <select name = "campus">
                  <option></option>
                  <option>Brest</option>
                  <option>Nantes</option>
                  <option>Rennes</option>
              </select>
            </div>
            <div style ="padding: 10px;">
                <label>Année</label>
                <select name = "year">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div style ="padding: 10px;">
              <label>TAF</label>
              <select name = "option">
                  <option></option>
                  <option>DCL</option>
                  <option>LOGIN</option>
                  <option>Askip y a d'autres TAFs</option>
              </select>
            </div>
          </div>

          <div name="company" style="padding: 10px; border-color: black;">
            <div>Entreprise</div>
            <input class="form-control" placeholder="Nom de l'entreprise" name = "company_name" value="{{ intern.company_name }}">
            <input class="form-control" placeholder="Groupe de l'entreprise" name = "company_group" value="{{ intern.company_group }}">
            <input class="form-control" placeholder="Téléphone de l'entreprise" name = "company_phone" value="{{ intern.company_phone }}">
            <input class="form-control" placeholder="Adresse de l'entreprise" name = "company_adress" value="{{ intern.company_adress }}">
            <input class="form-control" placeholder="Code postal de l'entreprise" name = "company_postal_code" value="{{ intern.company_postal_code }}">
            <input class="form-control" placeholder="Ville de l'entreprise" name = "company_city" value="{{ intern.company_city }}">
            <input class="form-control" placeholder="Pays de l'entreprise" name = "company_country" value="{{ intern.company_country }}">
          </div>

          <div name="tutor" style="padding: 10px; border-color: black;">
            <div>Tuteur</div>
            <div style ="padding: 10px;">
              <label>Civilité</label>
              <select name = "tutor_civility">
                  <option></option>
                  <option>Mr</option>
                  <option>Mme</option>
              </select>
            </div>
            <input class="form-control" placeholder="Nom du tuteur" name = "tutor_surname" value="{{ intern.tutor_surname }}">
            <input class="form-control" placeholder="Prénom du tuteur" name = "tutor_name" value="{{ intern.tutor_name }}">
            <input class="form-control" placeholder="Poste occupé par le tuteur" name = "tutor_job" value="{{ intern.tutor_job }}">
            <input class="form-control" placeholder="Email du tuteur" name = "tutor_email" value="{{ intern.tutor_email }}">
            <input class="form-control" placeholder="Téléphone du tuteur" name = "tutor_phone" value="{{ intern.tutor_phone }}">
          </div>

        </div>
    </div>
  <button type="submit" class="btn btn-primary btn-lg">Valider</button>
  </form>
</div>
{%endblock%}