{%extends "base_extension.html"%}

{%block body%}
<div style = "padding-left: 50px;">
  <div style = "padding: 10px;">
    <label>Stages</label>
  </div>
  <a class="btn btn-primary btn-lg" href="/internships/new">Nouveau</a>
  
  <ul>
      {% for internship in results %}
        <div style = "padding: 10px; border-color: black">
            <div>{{internship.title}}</div>
            <div>{{internship.date.strftime("%c")}}</div>
            <a href="{{ url_for('internship_form_extension', id=internship.id) }}">Modifier</a>
        </div>
      {% endfor %}
  </ul>

</div>
{%endblock%}