{% extends "base_auth.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Inscription</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}</a>.
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Nom" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Mot de passe">
                </div>
            </div>

            <button class="button is-block is-large is-fullwidth mybutton">S'inscrire</button>
        </form>
    </div>
</div>

<style>
    body{
        background-color: #9675ce;
    }

    .mybutton{
        background-color:indigo;
        color: white;
    }

    .mybutton:hover{
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: white;
        background-color: gray;
    }
</style>
{% endblock %}