body {
    font-family: 'Roboto', sans-serif;
    background:#9675ce !important;
	color:#FFF;
	font-size:14px !important;
	font-weight:500 !important;
}

form{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background:#9675ce;
    color:#FFF;
    font-size:14px;
    font-weight:500;
    min-width: 1200px;
}

.mylist{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background:#9675ce;
    color:#FFF;
    font-size:14px;
    font-weight:500;
    min-width: 1200px;
    background-color: #9675ce;

}

.title{
    background:#9675ce;
    text-align: center;
    font-size: 20px;
}

.form-group{
    padding: 20px;
}

.category-group{
    padding: 10px;
    border-color: black;
}

.category-title{
    font-size: 16px;
    padding-bottom: 10px;
}

.form-sub{
    height: 1.5cm;
}

.form-control{
    height: 1.5cm;
}

.form-question{
    height: 1.5cm;
    text-align: right;
    float: left;
    vertical-align: middle;
}

.form-answer{
    float: left;
}

select{
    color: #000;
}

.mybtn{
    color:black;
    background-color: white;
    border-style: none;
}
.mybtn:hover{
    background-color: grey;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.mycell{
    height: 1cm;
    border-color: black;
    border-width: 1px;
}

.mylink{
    color: white;
    float: left;
}
.mylink:hover{
    color: black;
}